/* import */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

/* tailwind */
@import "tailwindcss";

/* reset */
body {
  white-space: nowrap;
}
span {
  display: block;
}

/* font */
/* pgae p1 */
.page.p1 .top-bar .contents > ul > li > a {
  font-family: "Pretendard Variable", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #333;
}
.page.p1 .top-bar .contents ul ul > li > a {
  font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    letter-spacing: -0.02em;
}
.page.p1 .top-bar .contents .sub-site > li > a {
  font-family: "Pretendard Variable", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #333;
}
.page.p1 .top-bar .contents-sub .title-box h1 {
  font-family: "Pretendard Variable", sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #fff;
}
/* css */

/* page p1 */
.page.p1 {
  width: 100%;
  height: 1020px;
  background-color: #fff;
}
.page.p1 .top-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}
.page.p1 .top-bar .contents {
  width: calc(100% - 330px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  position: relative;
}
.page.p1 .contents .logo-box {
  width: 250px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page.p1 .contents > .nav {
  width: 802px;
  height: 130px;
  position: relative;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 1px solid red;
}
.page.p1 .contents > .nav > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.page.p1 .contents > .nav > li:hover ul {
  display: block;
}
.page.p1 .contents > .nav > li > a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page.p1 .contents > .nav > li > .nav-line {
  width: 1px;
  height: 16px;
  background-color: #b2b9c5;
}
.page.p1 .contents > .nav > li > ul {
  display: none;
  position: absolute;
  top: 127px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding-top: 36px;
  border: 1px solid red;
}
.page.p1 .contents > .nav > li > ul > li {
  margin-bottom: 36px;
}
.page.p1 .contents > .nav > li > ul > li > a {
}
.page.p1 .top-bar .contents > .sub-site {
  width: 258px;
  display: flex;
  justify-content: space-between;
}
.page.p1 .top-bar .contents > .sub-site > li > a {
  display: flex;
  align-items: center;
  gap: 4px;
}
.page.p1 .top-bar .contents > .sub-site > li > a img {
  width: 24px;
  height: 24px;
}
.page.p1 .top-bar .contents-sub {
  width: 100%;
  height: 450px;
  top: 130px;
  border-radius: 0 0 50px 50px;
  /* position: absolute; */
  border: 1px solid blue;
  overflow: hidden;
  display: none;
}
.page.p1 .top-bar .contents-sub .title-box {
  width: 415px;
  height: 450px;
  border-radius: 0 50px 0 50px;
  z-index: 20;
  position: relative;
}
.page.p1 .top-bar .contents-sub.s1 .title-box {
  background-color: #003E76;
}
.page.p1 .top-bar .contents-sub.s2 .title-box {
  background-color: #00ADEC;
}
.page.p1 .top-bar .contents-sub.s3 .title-box {
  background-color: #00B6CC;
}
.page.p1 .top-bar .contents-sub.s4 .title-box {
  background-color: #61B85D;
}
.page.p1 .top-bar .contents-sub.s5 .title-box {
  background-color: #7B7B7B;
}
.page.p1 .top-bar .contents-sub .title-box h1 {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
.page.p1 .top-bar .contents-sub .title-box img {
  width: 189px;
  height: 221px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.page.p1 .top-bar .contents-sub .sub-title {
  position: relative;
}
.page.p1 .top-bar .contents-sub .sub-title img {
  position: absolute;
  width: 423px;
  height: 398px;
  bottom: 0;
  right: 0;
}