
/* recet */
span {
    display: block;
}

/* process font */
/* page p0 */

.page.p0 .text-box .title-box h3 {
    font-family: "Yu Gothic UI", "YuGothic", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #fff;
    letter-spacing: 0.04em;
    line-height: 1.1;
    margin-bottom: 12px;
}
.page.p0 .text-box .title-box .title-sub h1 {
    font-family: "Yu Gothic UI", "YuGothic", sans-serif;
    font-weight: 500;
    font-size: 110px;
    color: #008DC0;
    opacity: 90%;
    line-height: 0.7;
}
.page.p0 .text-box .title-box .title-sub .title h2 {
    font-family: "Yu Gothic UI", "YuGothic", sans-serif;
    font-weight: 500;
    font-size: 46px;
    color: #008DC0;
    opacity: 90%;
    line-height: 0.7;
    letter-spacing: 0.1em;
    margin-top: 5px;
    margin-bottom: 18px;
}
.page.p0 .text-box .title-box .title-sub .title span {
    font-family: "Yu Gothic UI", "YuGothic", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #008DC0;
    opacity: 90%; 
}
.page.p0 .text-box .sub-box .sub-1 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    letter-spacing: -0.04em;
}
.page.p0 .text-box .sub-box .sub-1 .content span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    letter-spacing: -0.04em;
}
.page.p0 .text-box .sub-box .sub-1 .content span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    letter-spacing: -0.02em;
}
.page.p0 .text-box .sub-box .sub-2 h1 {
    font-family: "Yu Gothic UI", "YuGothic", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #008DC0;
    opacity: 90%;
    text-align: end;
}
.page.p0 .text-box .sub-box .sub-2 span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    opacity: 80%;
    letter-spacing: -0.04em;
    line-height: 1.5;
    text-align: end;
}
/* page p1 */
.page.p1 .main-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #404040;
}
.page.p1 .main-box .text-box1 span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #000;
    opacity: 60%;
}
.page.p1 .main-box .text-box2 span,
.page.p1 .main-box .text-box3 a {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #000;
    opacity: 50%;
}
/* page p2 */
.page.p2 .text-box .box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #003E76;
    margin-bottom: 38px;
}
.page.p2 .text-box .box span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #6f6f6f;
}
.page.p2 .text-box .box span p1 {
    font-weight: 600;
    color: #333;
}

/* page p3 */
.page.p3 .text-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #003E76;
    margin-bottom: 27px;
}
.page.p3 .text-box span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.04em;
    color: #404040;
    line-height: 1.585;
}
/* page p4 */
.page.p4 .text-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #003E76;
    margin-bottom: 27px;
    margin-bottom: 48px;
}
.page.p4 .text-box span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #6f6f6f;
    line-height: 1.6;
}
.page.p4 .text-box span p1 {
    font-weight: 600;
    color: #404040;
}
/* page p5 */
.page.p5 .all-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #003E76;
    margin-bottom: 60px;
}
/* page p6 */
.page.p6 .text-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #003E76;
    margin-bottom: 25px;
}
.page.p6 .text-box span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #6f6f6f;
    letter-spacing: -0.04em;
    line-height: 1.455;
}
.page.p6 .text-box span p1 {
    font-size: 23px;
    font-weight: 600;
    color: #404040;
}
/* page p7 */
.page.p7 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #003E76;
    opacity: 80%;
    line-height: 1.1;
    letter-spacing: 0.04em;
}

/* page p10 */
.page.p10 .all-list .list1 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #003E76;
    letter-spacing: 0.04em;
    line-height: 1.1;
    opacity: 0.8;
}
.page.p10 .all-list .list2 h2 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #003E76;
    letter-spacing: -0.04em;
    line-height: 1.5;
}
.page.p10 .all-list .list3 span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #404040;
    letter-spacing: -0.04em;
    line-height: 1.6;
}
/* page p11 */
.page.p11 .text-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #003E76;
    margin-bottom: 28px;
}
.page.p11 .text-box .grid-list span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #404040;
    letter-spacing: 0.01em;
}
/* contents-navigation*/
#DJCICC-process .controller .box span:nth-child(1) {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    opacity: 80%;
    letter-spacing: 0.01em;
    transition: all 0.2s;
  }
  #DJCICC-process .controller .box span:nth-child(2) {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    opacity: 100%;
    letter-spacing: -0.04em;
    transition: all 0.2s;
    text-align: center;
  }
  #DJCICC-process .controller .box:hover span:nth-child(1) {
    opacity: 100%;
    font-weight: 600;
  }
  #DJCICC-process .controller .box:hover span:nth-child(2) {
    opacity: 100%;
    font-weight: 600;
  }
/* ----------css--------- */
.page.p0 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    background-image: url(img/process/img-0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-size 5s ease;
    -moz-transition: background-size 5s ease;
    -web-kit-transition: background-size 5s ease;
}
.page.p0.animated {
    background-size: 106%;
}
.page.p0 .text-box {
    width: 1767px;
    display: flex;
    flex-direction: column;
    gap: 620px;
    margin-top: 58px;
}
.page.p0 .text-box .title-box {
    display: flex;
    flex-direction: column;
}
.page.p0 .text-box .title-box .title-sub {
    display: flex;
    gap: 40px;
}
.page.p0 .text-box .title-box .title-sub .title {
    display: flex;
    flex-direction: column;
}
.page.p0 .text-box .sub-box {
    display: flex;
    justify-content: space-between;
}
.page.p0 .text-box .sub-box .sub-1 h1 {
    margin-bottom: 18px;
}
.page.p0 .text-box .sub-box .sub-1 .content {
    display: flex;
    gap: 27px;
    margin-bottom: 7px;
}
.page.p0 .text-box .sub-box > a {
    position: relative;
    display: flex;
    align-items: end;
    color: white;
    opacity: 60%;
  }
.page.p0 .text-box .sub-box > a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  .page.p0 .text-box .sub-box > a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
.page.p0 .text-box .sub-box .sub-2 h1 {
    margin-bottom: 25px;
}
/* page p1 wow */
.page.p1 .main-box {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p1 .main-box.animated {
    opacity: 1;
}
/* page p1 */
.page.p1 {
    width: 100%;
    height: 1080px;
    background-image: url(img/process/img-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.page.p1 .text-box {
    width: 100%;
    height: 217px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.page.p1 .main-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.page.p1 .main-box .box1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding-right: 165px;
}
.page.p1 .main-box .box2 {
    display: flex;
    align-items: center;
}
.page.p1 .main-box .box2 .line {
    width: 1px;
    height: 41px;
    background-color: #fff;
    opacity: 20%;
    margin-left: 40px;
    margin-right: 40px;
}
.page.p1 .main-box .box2 .text-box1 {
    display: flex;
    gap: 40px;
}
.page.p1 .main-box .box2 .text-box1 .contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.page.p1 .main-box .box2 .text-box2,
.page.p1 .main-box .box2 .text-box3 {
    display: flex;
    height: 81px;
    flex-direction: column;
    justify-content: space-between;
}
.page.p1 .main-box .box2 .text-box2 .text.s1,
.page.p1 .main-box .box2 .text-box3 .text.s1 {
    display: flex;
    align-items: center;
    gap: 40px;
}
.page.p1 .main-box .box2 .text-box2 .text.s2,
.page.p1 .main-box .box2 .text-box3 .text.s2 {
    display: flex;
    align-items: center;
    gap: 46px;
}
/* page p2 wow */
.page.p2 .text-box .box.s1 h1 {
    opacity: 0;
    transition: all 0.8s 0.4s;
    transform: translateX(4%);
}
.page.p2 .text-box .box.s1 h1.animated {
    opacity: 1;
    transform: translateX(0);
}
.page.p2 .text-box .box.s1 span {
    opacity: 0;
    transition: all 0.8s 0.6s;
    transform: translateY(-10%);
}
.page.p2 .text-box .box.s1 span.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p2 .text-box .box.s1 img {
    opacity: 0;
    transition: all 0.8s 0.6s;
}
.page.p2 .text-box .box.s1 img.animated {
    opacity: 1;
}

.page.p2 .text-box .box.s2 h1 {
    opacity: 0;
    transition: all 0.8s 0.6s;
    transform: translateX(4%);
}
.page.p2 .text-box .box.s2 h1.animated {
    opacity: 1;
    transform: translateX(0);
}
.page.p2 .text-box  .box.s2 span {
    opacity: 0;
    transition: all 0.8s 0.8s;
    transform: translateY(-10%);
}
.page.p2 .text-box .box.s2 span.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p2 .text-box .box.s2 img {
    opacity: 0;
    transition: all 0.8s 0.8s;
}
.page.p2 .text-box .box.s2 img.animated {
    opacity: 1;
}
/* page p2 */
.page.p2 {
    width: 100%;
    height: 1200px;
    background-image: url(img/process/img-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.page.p2 .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1758px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.page.p2 .text-box .box.s1 {
    position: relative;
    margin-right: 214px;
}
.page.p2 .text-box .box.s1 img {
    position: absolute;
    top: -10px;
    left: -36px;
    z-index: -1;
}
.page.p2 .text-box .box.s2 {
    position: relative;
    margin-top: 168px;
}
.page.p2 .text-box .box.s2 img {
    position: absolute;
    top: -10px;
    left: -36px;
    z-index: -1;
}
/* page p3 wow */
.page.p3 .all-box .text-box h1 {
    opacity: 0;
    transition: all 0.8s 0.4s;
    transform: translateX(4%);
}
.page.p3 .all-box .text-box h1.animated {
    opacity: 1;
    transform: translateX(0);
}
.page.p3 .all-box .text-box span {
    opacity: 0;
    transition: all 0.8s 0.6s;
    transform: translateY(-10%);
}
.page.p3 .all-box .text-box span.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p3 .all-box .text-box img {
    opacity: 0;
    transition: all 0.8s 0.6s;
}
.page.p3 .all-box .text-box img.animated {
    opacity: 1;
}
.page.p3 .all-box .img-box img:nth-child(1) {
    opacity: 0;
    transition: all 0.8s 1.0s;
}
.page.p3 .all-box .img-box img:nth-child(1).animated {
    opacity: 1;
}
.page.p3 .all-box .img-box img:nth-child(2) {
    opacity: 0;
    transform: translateY(-10%);
    transition: all 0.8s 1.4s;
}
.page.p3 .all-box .img-box img:nth-child(2).animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p3 .all-box .img-box img:nth-child(3) {
    opacity: 0;
    transition: all 0.8s 1.8s;
}
.page.p3 .all-box .img-box img:nth-child(3).animated {
    opacity: 1;
}
/* page p3 */
.page.p3 {
    width: 100%;
    height: 826px;
    background-image: url(img/process/img-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.page.p3 .all-box {
    width: 1694px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}
.page.p3 .all-box .text-box {
    height: 360px;
    position: relative;
}
.page.p3 .text-box img {
    position: absolute;
    top: -10px;
    left: -36px;
    z-index: -1;
}
.page.p3 .all-box .img-box {
    width: 1226px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
}
.page.p3 .all-box .img-box img:nth-child(2) {
    width: 752px;
    height: 60px;
    margin-left: 364px;
}
/* page p4 wow */
.page.p4 .text-box h1 {
    opacity: 0;
    transition: all 0.8s 0.4s;
    transform: translateX(4%);
}
.page.p4 .text-box h1.animated {
    opacity: 1;
    transform: translateX(0);
}
.page.p4 .text-box span {
    opacity: 0;
    transition: all 0.8s 0.6s;
    transform: translateY(-10%);
}
.page.p4 .text-box span.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p4 .text-box img {
    opacity: 0;
    transition: all 0.8s 0.6s;
}
.page.p4 .text-box img.animated {
    opacity: 1;
}
/* page p4 */
.page.p4 {
    width: 100%;
    height: 884px;
    background-image: url(img/process/img-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.page.p4 .text-box {
    width: 1292px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page.p4 .text-box img {
    position: absolute;
    top: -10px;
    left: -36px;
    z-index: -1;
}
/* page p5 wow */
.page.p5 .all-box .text-box h1 {
    opacity: 0;
    transition: all 0.8s 0.4s;
    transform: translateX(4%);
}
.page.p5 .all-box .text-box h1.animated {
    opacity: 1;
    transform: translateX(0);
}
.page.p5 .all-box .text-box img {
    opacity: 0;
    transition: all 0.8s 0.6s;
}
.page.p5 .all-box .text-box img.animated {
    opacity: 1;
}
.page.p5 .all-box .img-box1 {
    opacity: 0;
    transition: all 0.8s 0.8s;
    transform: translateY(-10%);
}
.page.p5 .all-box .img-box1.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p5 .all-box .img-box2 {
    opacity: 0;
    transition: all 0.6s 0.6s;
    transform: translateY(-10%);
}
.page.p5 .all-box .img-box2.animated {
    opacity: 1;
    transform: translateY(0);
}
/* page p5 */
.page.p5 {
    width: 100%;
    height: 1345px;
    background-image: url(img/process/img-5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.page.p5 .all-box {
    width: 1526px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page.p5 .all-box .img-box1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.page.p5 .all-box .img-box1 img:nth-child(1) {
    width: 830px;
    height: 260px;
}
.page.p5 .all-box .img-box1 img:nth-child(2) {
    width: 466px;
    height: 212px;
}
.page.p5 .all-box .text-box img {
    position: absolute;
    top: -10px;
    left: -36px;
    z-index: -1;
}
/* page p6 wow */
.page.p6 .text-box h1 {
    opacity: 0;
    transition: all 0.8s 0.4s;
    transform: translateX(-4%);
}
.page.p6 .text-box h1.animated {
    opacity: 1;
    transform: translateX(0);
}
.page.p6 .text-box span {
    opacity: 0;
    transition: all 0.8s 0.6s;
    transform: translateY(-10%);
}
.page.p6 .text-box span.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p6 .text-box img {
    opacity: 0;
    transition: all 0.8s 0.6s;
}
.page.p6 .text-box img.animated {
    opacity: 1;
}
/* page p6 */
.page.p6 {
    width: 100%;
    height: 1080px;
    background-image: url(img/process/img-6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.page.p6 .text-box {
    position: absolute;
    top: 176px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1460px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.page.p6 .text-box h1 {
    width: 595px;
}
.page.p6 .text-box img {
    position: absolute;
    top: -10px;
    left: 830px;
    z-index: -1;
}

/* page p7-9 */
.page.p7-9 {
    width: 100%;
    background-image: url(img/process/img-7-9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* page p7 wow */
.page.p7 h1 {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p7 h1.animated {
    opacity: 1;
}
.page.p7 .contents-box .list.l1 {
    opacity: 0;
    transition: opacity 1.0s 0.7s;
}
.page.p7 .contents-box .list.l1.animated {
    opacity: 1;
}
.page.p7 .contents-box .list.l2 {
    opacity: 0;
    transition: opacity 1.0s 1.1s;
}
.page.p7 .contents-box .list.l2.animated {
    opacity: 1;
}
.page.p7 .contents-box .list.l3 {
    opacity: 0;
    transition: opacity 1.0s 1.5s;
}
.page.p7 .contents-box .list.l3.animated {
    opacity: 1;
}
.page.p7 .contents-box .list.l4 {
    opacity: 0;
    transition: opacity 1.0s 1.9s;
}
.page.p7 .contents-box .list.l4.animated {
    opacity: 1;
}
/* page p7 */
.page.p7 {
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}
.page.p7 h1 {
    width: 1644px;
    position: absolute;
    top: 84px;
    left: 50%;
    transform: translateX(-50%);
    text-align: end;
}
.page.p7 .contents-box {
    width: 1622px;
    height: 833px;
    display: flex;
    justify-content: center;
    position: relative;
}
.page.p7 .contents-box .list.l1 {
    position: absolute;
    right: 0;
    top: 120px;
}
.page.p7 .contents-box .list.l2 {
    position: absolute;
    right: 0;
    top: 380px;
}
.page.p7 .contents-box .list.l3 {
    position: absolute;
    top: 526px;
    left: 0px;
}
.page.p7 .contents-box .list.l4 {
    position: absolute;
    top: 500px;
    right: 0;
}
/* page p8 wow */
.page.p8 .contents-box .list.l5 {
    opacity: 0;
    transition: opacity 1.0s 0.7s;
}
.page.p8 .contents-box .list.l5.animated {
    opacity: 1;
}
.page.p8 .contents-box .list.l5-1 {
    opacity: 0;
    transition: opacity 1.0s 0.7s;
}
.page.p8 .contents-box .list.l5-1.animated {
    opacity: 1;
}
.page.p8 .contents-box .list.l6 {
    opacity: 0;
    transition: opacity 1.0s 1.1s;
}
.page.p8 .contents-box .list.l6.animated {
    opacity: 1;
}
.page.p8 .contents-box .list.l7 {
    opacity: 0;
    transition: opacity 1.0s 1.5s;
}
.page.p8 .contents-box .list.l7.animated {
    opacity: 1;
}
.page.p8 .contents-box .list.l8 {
    opacity: 0;
    transition: opacity 1.0s 1.9s;
}
.page.p8 .contents-box .list.l8.animated {
    opacity: 1;
}
.page.p8 .contents-box .list.l9 {
    opacity: 0;
    transition: opacity 1.0s 2.3s;
}
.page.p8 .contents-box .list.l9.animated {
    opacity: 1;
}
/* page p8 */
.page.p8 {
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.page.p8 .contents-box {
    width: 1644px;
    height: 1080px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
}
.page.p8 .contents-box .list.l5 {
    position: absolute;
    right: 0;
    top: 110px;
}
.page.p8 .contents-box .list.l5-1 {
    position: absolute;
    right: -10px;
    top: 252px;
    z-index: -1;
}
.page.p8 .contents-box .list.l6 {
    position: absolute;
    right: 0;
    top: 558px;
}
.page.p8 .contents-box .list.l7 {
    position: absolute;
    left: 0;
    top: 556px;
}
.page.p8 .contents-box .list.l8 {
    position: absolute;
    right: 0;
    top: 768px;
}
.page.p8 .contents-box .list.l9 {
    position: absolute;
    left: 0;
    top: 800px;
}
/* page p9 wow */
.page.p9 .contents-box .list.l10 {
    opacity: 0;
    transition: opacity 1.0s 0.7s;
}
.page.p9 .contents-box .list.l10.animated {
    opacity: 1;
}
.page.p9 .contents-box .list.l11 {
    opacity: 0;
    transition: opacity 1.0s 1.1s;
}
.page.p9 .contents-box .list.l11.animated {
    opacity: 1;
}
.page.p9 .contents-box .list.l12 {
    opacity: 0;
    transition: opacity 1.0s 1.5s;
}
.page.p9 .contents-box .list.l12.animated {
    opacity: 1;
}
/* page p9 */
.page.p9 {
    width: 100%;
    height: 878px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.page.p9 .contents-box {
    width: 1644px;
    height: 690px;
    display: flex;
    justify-content: center;
    position: relative;
}
.page.p9 .contents-box .list.l10 {
    position: absolute;
    right: 0px;
    top: 210px;
}
.page.p9 .contents-box .list.l11 {
    position: absolute;
    right: 0px;
    top: 358px;
}
.page.p9 .contents-box .list.l12 {
    position: absolute;
    left: 0px;
    top: 560px;
}
/* page p10 wow */
.page.p10 .all-list .list1 h1 {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p10 .all-list .list1 h1.animated {
    opacity: 1;
}
.page.p10 .all-list .list2 h2 {
    opacity: 0;
    transition: all 0.8s 0.6s;
    transform: translateY(-10%);
}
.page.p10 .all-list .list2 h2.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p10 .all-list .list2 img {
    opacity: 0;
    transition: all 0.8s 0.6s;
    transform: translateY(-10%);
}
.page.p10 .all-list .list2 img.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p10 .all-list .list3 img:nth-child(1) {
    opacity: 0;
    transition: all 0.8s 0.8s;
    transform: translateY(-10%);
}
.page.p10 .all-list .list3 img:nth-child(1).animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p10 .all-list .list3 img:nth-child(2) {
    opacity: 0;
    transition: all 0.8s 1.0s;
    transform: translateX(8%);
}
.page.p10 .all-list .list3 img:nth-child(2).animated {
    opacity: 1;
    transform: translateX(0);
}
.page.p10 .all-list .list3 span {
    opacity: 0;
    transition: all 0.8s 1.0s;
    transform: translateX(8%);
}
.page.p10 .all-list .list3 span.animated {
    opacity: 1;
    transform: translateX(0);
}
/* page p10 */
.page.p10 {
    width: 100%;
    height: 1080px;
    background-image: url(img/process/img-10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.page.p10 .all-list {
    width: 1650px;
    position: absolute;
    top: 121px;
    left: 50%;
    transform: translateX(-50%);
}
.page.p10 .all-list .list1 {
    margin-bottom: 86px;
}
.page.p10 .all-list .list2 {
    margin-bottom: 78px;
}
.page.p10 .all-list .list2 img {
    margin-left: -11px;
}
.page.p10 .all-list .list3 {
    display: flex;
    gap: 34px;
    align-items: center;
}
/* page p11 wow */
.page.p11 .all-box .text-box h1 {
    opacity: 0;
    transition: all 0.8s 0.4s;
    transform: translateX(4%);
}
.page.p11 .all-box .text-box h1.animated {
    opacity: 1;
    transform: translateX(0);
}
.page.p11 .all-box .text-box img {
    opacity: 0;
    transition: all 0.8s 0.6s;
}
.page.p11 .all-box .text-box img.animated {
    opacity: 1;
}
.page.p11 .all-box .text-box .grid-list span:nth-child(1) {
    opacity: 0;
    transform: translateY(-10%);
    transition: all 0.8s 0.6s;
}
.page.p11 .all-box .text-box .grid-list span:nth-child(1).animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p11 .all-box .text-box .grid-list span:nth-child(2) {
    opacity: 0;
    transform: translateY(-10%);
    transition: all 0.8s 0.7s;
}
.page.p11 .all-box .text-box .grid-list span:nth-child(2).animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p11 .all-box .text-box .grid-list span:nth-child(3) {
    opacity: 0;
    transform: translateY(-10%);
    transition: all 0.8s 0.8s;
}
.page.p11 .all-box .text-box .grid-list span:nth-child(3).animated {
    opacity: 1;
    transform: translateY(0);
}
/* page p11 */
.page.p11 {
    width: 100%;
    height: 1080px;
    background-image: url(img/process/img-11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.page.p11 .all-box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1650px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.page.p11 .all-box .text-box {
    position: relative;
}
.page.p11 .all-box .text-box img {
    position: absolute;
    top: -10px;
    left: -36px;
    z-index: -1;
}
/* content-navigation */
#DJCICC-process .contents-navigation {
    width: 96px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    position: fixed;
    bottom: 74px;
    right: 0;
  }
  #DJCICC-process .controller {
    width: 100%;
    height: 535px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(3, 40, 72, 0.2);
    border-radius: 30px 0 0 30px;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }
  #DJCICC-process .controller::-webkit-scrollbar {
    display: none;
  }
  #DJCICC-process .controller .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    z-index: 10;
  }
  #DJCICC-process .controller .box span:nth-child(1) {
    width: 42px;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00B6CC;
    opacity: 50%;
    border-radius: 100%;
  }
  #DJCICC-process .remote-control {
    width: 68px;
    height: 68px;
    background-color: #008DC0;
    opacity: 60%;
    border-radius: 100%;
    position: relative;
    transition: all 0.3s;
  }
  #DJCICC-process .remote-control > div {
    position: absolute;
    left: 31%;
    width: 26px;
    height: 6%;
    background-color: #fff;
    opacity: 80%;
    transition: opacity 0.3s, transform 0.3s, top 0.3s;
    border-radius: 100px;
  }
  #DJCICC-process .remote-control:hover {
    opacity: 100%;
  }
  #DJCICC-process .remote-control > div:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
  }
  #DJCICC-process .remote-control > div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  #DJCICC-process .remote-control.active > div:nth-child(1) {
    top: 46%;
    transform: translateY(-50%);
    transform: rotate(90deg);
  }
  #DJCICC-process .remote-control.active > div:nth-child(2) {
    top: 46%;
    transform: translateY(-50%);
    transform: rotate(180deg);
  }
  
  #DJCICC-process .top-btn {
    width: 68px;
    height: 68px;
    background-color: #008DC0;
    opacity: 60%;
    border-radius: 100%;
    transition: all 0.3s;
    position: relative;
  }
  #DJCICC-process .top-btn:hover {
    opacity: 100%;
  }
  #DJCICC-process .top-btn i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #DJCICC-process .content-btn {
    width: 68px;
    height: 68px;
    background-color: #008DC0;
    opacity: 60%;
    border-radius: 100%;
    transition: all 0.3s;
    position: relative;
  }
  #DJCICC-process .content-btn:hover {
    opacity: 100%;
  }
  #DJCICC-process .content-btn i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }